body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}
.form{
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}

.container{
    width: 984px;
    padding: 0 20px;
    text-align: left;
}

.cards-container{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #dadada;
}


.inline{
    display: inline;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
.tp-bg{
    background-color: rgba(0,0,0,.5) !important;
}
.bg-orange{
    background-color: #0294f5 !important;
}
.bg-grey{
    background-color: #dadada !important;
}

.white-text{
    color: #fff !important;
}

.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.padding-20{
    padding: 20px;
}
.padding-25{
    padding: 25px;
}
.padding-30{
    padding: 30px;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}

.gap-type-default{
    height: .75em;
}
.gap-type-1{
    height: 5px;
}
.gap-type-2{
    height: 10px;
}
.gap-type-3{
    height: 15px;
}
.gap-type-4{
    height: 20px;
}

.login-container{
    background-color: #fff;
    box-shadow: 0px 2px 3px #0db7c4;
    height: auto;
    max-width: 400px;
    min-width: 320px;
    margin: 20px;
    text-align: left;
}
.login-container .title{
    padding: 15px;
    background-color: #2788e2;
    color: #fff;
    border-bottom: 1px solid #dadada;
    border-radius: 5px;
}
.login-container .title h3{
    font-weight: 300;
    margin: 0;
}
.login-container table{
    width: 100%;
}
.login-container .form-container{
    padding: 40px 20px;
}
.login-container .form-container input[type=text]{
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: .8em;
}


.login-container .form-container input[type=password]{
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: .8em;
}

.login-container .form-container .select{
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: .8em;
    
}
.login-container .form-container input[type=text]:hover{
    border-color: #adadad;
}
.login-container .form-container input[type=text]:focus{
    border-color: #4866af;
}
.login-container .form-container input[type=text]:focus{
    border-color: #4866af;
}

.login-container .form-container input[type=password]:hover{
    border-color: #adadad;
}
.login-container .form-container input[type=password]:focus{
    border-color: #4866af;
}
.login-container .form-container input[type=password]:focus{
    border-color: #4866af;
}
.login-container .form-container button[type=button]{
    background-color: #2697e2;
    color: #fff;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;    
}


.login-container .form-container a{
    text-decoration: none;
    color: #0db7c4;
    font-size: .8em;
}
.login-container .form-container a:hover{
    text-decoration: underline;
    color: #000000;
}
.notification{
    padding: 10px 20px;
    font-size: 14px;
}
.notification.success{
    background-color: #21c465;
    color: #ffffff;
}
.notification.error{
    background-color: #000000;
    color: #ffffff !important;
    
}
